<div id="todoapp">
  <header id="header">
    <h2 style="text-transform: uppercase">Todos</h2>
    <input id="new-todo" placeholder="What needs to be done?" autofocus style="min-width: 154px">
  </header>
  <section id="main">

    <ul id="todo-list"></ul>
  </section>
  <div id="info">
    <p>

      <label for="toggle-all"><input id="toggle-all" type="checkbox"> Mark all as complete</label>
    </p>
    <p style="font-style: italic">Double-click to edit a todo</p>
  </div>
  <footer id="footer"></footer>
</div>