<div id="todoapp">
  <div id="title">
    <h1>Todos</h1>
  </div>
  <div class="content">
    <div id="create-todo">
      <input id="new-todo" placeholder="What needs to be done?" type="text" />
      <span class="ui-tooltip-top" style="display:none">Press Enter to save this task</span>
    </div>
    <div id="todos">
      <ul id="todo-list"></ul>
    </div>
    <div id="todo-stats"></div>
  </div>
</div>

<ul id="instructions">
<li>Double-click to edit a todo.</li>
</ul>