<div class="view">
  <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>/>
  <label><%- title %></label>
  <button class="destroy">x</button>
</div>
<input class="edit" value="<%- title %>">