/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.hide {
    display: none;
}

input, label {
    padding: 6px;
}

label[for="toggle-all"] {
    padding-left: 0;
    cursor: pointer;
}

.destroy {
    font-weight: bold;
    background: #a50044;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 2px 6px 4px 6px;
}

.hidden {
    display: none;
}